.footer-content{
    background-image: url("/images/footer-bg.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;

    .inner-footer{
        display: flex;
        padding: 25px;

        li{
            list-style: none;
            color:rgb(156, 156, 156);
            font-size: 13px;
            font-weight: bold;
            padding: 3px;
         &:first-child{
                font-weight: bolder;
                font-size: 20px;
                color: #fff;
            }
        }
    
    .logo-container{
            img{
                position: absolute;
                top: 40%;
                left: 80%;
                transform: translate(-50%, -50%);
               
            }
    }
  }
}
    

