.lower-footer {
    height: 80px;
    background-color: #191919;
    display: flex;
    justify-content: space-around;
    align-items:center;
  
    
        button{
            background-color: #303030;
            color: white;
            border: 1px solid blue;
            height: 50px;
            padding: 10px;
        }

    .social-content{
    
        span{
            color: blue;
            font-size: 15px;
            
        }
        img{
            padding: 10px;
            vertical-align: middle;
        }
    }
}
