.top-nav{
    background-color: rgb(3, 127,243);
        ul{
           
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            li{
                
                padding: 10px;
                color: white;
            }
        }

}

.navbar{
   
    .logo img{
        width: 80px;
        
    }
     ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
        li{
            list-style: none;
            font-weight: 600;
            padding: 10px;

            &:hover{
                border-bottom: 1px solid blue;
                cursor: pointer;
            }
        }
    
        a{
            text-decoration: none;
            color: #000;
        }
    }
    .search input{
        outline: none;
        border: 0px;
        border-bottom: 2px solid blue;
        text-align: right;
        width: 100px;

    }
}

