.top-nav{
    background-color: #00a9d9;
    color: white;
    display: flex;
    justify-content: flex-end;

        h5{
            padding: 5px;
        }
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo img{
        width: 70px;
        margin-top: 5px;
    }
    .menu li{
        list-style: none;
        display: inline;
        font-weight: 600;
        padding: 10px;

        &:hover{
            border-bottom: 1px solid blue;
            cursor: pointer;
        }

        a{
            text-decoration: none;
            color: #000;
        }
    }
    .search input{
        outline: none;
        border: 0px;
        border-bottom: 2px solid blue;
    }
}

