.jumbotron-section{
    background: url("/images/jumbotron.jpg");
    background-size: cover;
     height: 400px; /*to remove*/
     position: relative;
     .epic-series{
        position: absolute;
        background-color:rgb(3, 127, 243);
        bottom: - 20px;
        color: white;
        font-weight: bolder;
        padding: 10px;
    }
}
    .inner-home-page{
      background-color: rgb(41, 40, 40);
       padding: 30px;

          .row{
              justify-content: center;
              padding: 30px 0px;
              gap: 20px;
       /*è un pò come il margin, va solo a chi è flex*/       
              .comics-item{
                width: calc((100% / 6) - 20px);
               
                img {
                    max-width: 100%; 
                }
                & a{
                    text-decoration: none;
                    color: #fff;
                }
                &-content{
                    margin: 10px;
                }
              }
          }
       
            
        }
     .button{
         display:flex;
         justify-content: center;
     }
    



