.jumbotron-section{
    background: url("/images/jumbotron.jpg");
    background-size: cover;
     height: 400px; /*to remove*/
     position: relative;
     .epic-series{
        position: absolute;
        background-color:rgb(3, 127, 243);
        bottom: - 20px;
        color: white;
        font-weight: bolder;
        padding: 10px;
    }
}
    .inner-home-page{
      background-color: rgb(41, 40, 40);
       padding: 30px;
          
        .comics-item {
        flex-wrap: wrap;
            & a{
                text-decoration: none;
                color: #fff;
            }
             &-content {
                padding: 5px;
             
                span{
                    color: whitesmoke;
                }
            }
            
        }
     .button{
         display:flex;
         justify-content: center;
     }
    }


