
.merchandise-container{
    background-color: rgb(3, 127, 243);
    
    .container{
        display: flex;
        justify-content: space-between;
        
         div{
             display: flex;
             align-items: center;
            
             img{
                 width: 50px;
                padding: 10px;
                 margin-top: 13px;
                 &:nth-last-child(4){
                     width: 30px;
                 }
             }
            span{
                color: white;
                font-size: 12px;
                padding-left: 10px;
            }
         }
    }
}