
.merchandise{
    background-color: rgb(3, 127, 243);
    
    .row{
       
        justify-content: space-evenly;
        align-items: center;
        
         div{
             display: flex;
             align-items: center;
             height: 70px;
             img{
                 height: 50px;
                padding: 10px;
                 margin-top: 13px;
                 &:nth-last-of-type(2){
                     height: 20px;
                 }
             }
            span{
                color: white;
                font-size: 12px;
                padding-left: 5px;
            }
         }
    }
}